@model PhamHuuDuy184.Models.PHD0184

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm</h1>

<h4>PHD0184</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PHDName" class="control-label"></label>
                <input asp-for="PHDName" class="form-control" />
                <span asp-validation-for="PHDName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PHDGender" class="control-label"></label>
                <input asp-for="PHDGender" class="form-control" />
                <span asp-validation-for="PHDGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
